* {
  background-color: whitesmoke;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 200px;
  position: relative;
  margin-top: 25%;
}

.cards {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
